
<h1 style="padding-top: 20px">Choose your plan:</h1>

<div class="parent">
  <div class="div1">
    <mat-card class="example-card" >
      <mat-card-title>Basic</mat-card-title>
      <br>
      <mat-card-title class="regular-size">
        Monthly Plan
      </mat-card-title>
      <mat-card-content class="text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
      </mat-card-content>
      <mat-card-actions>
        <div align="center">
          <button mat-raised-button (click)="openDialog()"style="background-color: black">Choose this plan</button>
        </div>
      </mat-card-actions>

    </mat-card>
  </div>
  <div class="div2">
    <mat-card class="example-card">
      <mat-card-title>Plus</mat-card-title>
      <br>
      <mat-card-title class="regular-size">
        Semester Plan
      </mat-card-title>
      <mat-card-content class="text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
      </mat-card-content>
      <mat-card-actions>
        <div align="center">
          <button mat-raised-button (click)="openDialog()" style="background-color: black" >Choose this plan</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="div3">
    <mat-card class="example-card">
      <mat-card-title>Plus Ultra</mat-card-title>
      <br>
      <mat-card-title class="regular-size">
        Anual Plan
      </mat-card-title>
      <mat-card-content class="text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
      </mat-card-content>
      <mat-card-actions>
        <div align="center">
          <button mat-raised-button (click)="openDialog()" style="background-color: black">Choose this plan</button>

        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
